* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background-color: aliceblue;
}
.justify-center {
    justify-content: center;
}
main {
    padding: 60px 0;
}

header {
    height: 60px;
    width: 100%;
}

/* nav bar */

.navwrapper {
    display: flex;
    background-color: antiquewhite;
    font-size: 25px;
    position: absolute;
}
.navwrapper h1{
    display:inline;
    line-height: 15px;
    
}
.left-side {
    display: flex;
    float: left;
}
.left-side h1{
    margin-top: 75px;
}
.right-side {
    float: right;
    margin-top: 30px;
    margin-right: 15px;
}
#navpfp {
    max-width: 10%;
    margin: 15px;
}
main {
    margin-top: 60px;
}

/* portfolio */
.port-text {
    position: absolute;
    bottom: 25px;
    left: 25px;
    background-color: aliceblue;
    border-radius: 25px;
    padding: 15px;
    margin: 10px
}

.column {
    position: relative
}
.portfolio-section {
    display: flex;
    width:90%;
    margin: 25px auto;
    flex-wrap: wrap;
    box-sizing: content-box;
}
.portfolio-section img {
    width: 100%;
}
.portfolio-section .column {
    padding: 10px;
    box-sizing: border-box;
}

.column.first {
    flex-basis: 100%;
    box-sizing: border-box;
    
}
.column.second {
    flex-basis: 50%;
    background-size: auto;
}
.column.third {
    flex-basis: 50%;
    background-size: auto;
}

/* bio */
.bio {
    display: block;
    justify-content: center;
    margin-top: 60px;
}
.bio img {
    max-width: 30%;
    margin-left: 25px;
}
.biography {
    display: flex;
    flex-wrap: wrap;
}
/* contact */
.contact-section {
    margin-left: 25px;
}

